footer.g-footer
	.container-fluid
		.row
			.col-xs-12
				.footer-col-btn
					.btn-share.btn-share_white Поделиться

		.row
			.col-xs-12.col-sm-4
				// footer logo
				.footer-col-logo
					.logo.logo-cosmo.logo-cosmo_footer
						a(href="#")
							img(src="./assets/img/logo/cosmo/white.png")

			.col-xs-12.col-sm-4
				// footer desc
				.footer-col-desc
					.footer-desc.
						Не смогли разобраться с чем-то? 
						Есть вопросы? Напишите письмо, и мы вам 
						ответим: #[a(href="mailto:spsupport.contest@imedia.ru") spsupport.contest@imedia.ru]

			.col-xs-12.col-sm-4
				// footer map
				.footer-col-map
					.footer-map Контактная информация