nav.navbar.navbar-default.g-nav
	.container-fluid
		.navbar-header
			button.navbar-toggle.pull-left.collapsed(type='button', data-toggle='collapse', data-target='#b-menu-collapse', aria-expanded='false')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
		.logo.logo-libresse
			a(href="#")
				img(src="./assets/img/logo/libresse.png")
		.logo.logo-cosmo
			a(href="#")
				img(src="./assets/img/logo/cosmo/pink.png")
		#b-menu-collapse.collapse.navbar-collapse
			ul.nav.navbar-nav
				li
					a(href='/#start-section') На главную
				li
					a(href='/#test-section') Сбросить или набрать
				li
					a(href='/#advice-section') Советы профи
				li
					a(href='/#about-section') Живи смелее