doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
	title Libresse
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
	link(rel="stylesheet" href="./css/index.css")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
	script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")



body(data-spy="scroll" data-target=".side-navbar" data-offset="60")

	include ./layout/mainNav

	include ./layout/sideNav

	main.g-main

		include ./section/start
		include ./section/test
		include ./section/advice
		include ./section/about

	include ./layout/footer

	script.
		$(function() {
			$(".navbar a").on('click', function(event) {
				// save reference
				var $collapse = $('.navbar-collapse');
				var hash = this.hash;
				// close collapse menu
				if($collapse.hasClass('in')) $collapse.removeClass('in');
				// smooth scroll
				$('html, body').animate({
					scrollTop: $(hash).offset().top
				}, 800, function(){
					window.location.hash = hash;
				});
			});
		})