.section_about
	padding-top 80px
	padding-bottom 30px
	@media media-pad
		padding-top 115px
		padding-bottom 60px

.headline_about
	width 100%
	margin-bottom 55px
	@media media-pad
		width 350px
		margin 0 auto 80px
	@media media-desktop
		width 360px
		margin-bottom 60px
	@media media-large
		width 490px
		margin-bottom 30px


.about
	@media media-desktop
		text-align center

	&__image
		width 100%
		@media media-pad
			width 305px
			margin 0 auto
		@media media-desktop
			width 370px
			display inline-block
			vertical-align top
		img
			width 100%
			vertical-align top

	&__text
		font-size 14px
		line-height 20px
		font-family 'PTSans Regular'
		text-align center
		padding-bottom 30px
		@media media-pad
			width 580px
			margin -20px auto 0
		@media media-desktop
			width 370px
			display inline-block
			vertical-align top
			margin-top 0
		@media media-large
			width 560px
			font-size 18px
			line-height 24px
			p:first-child
				margin-bottom 20px

.article_about
	@media media-pad
		font-size 22px
		line-height 28px
		padding 35px
	@media media-desktop
		margin-top -40px 