.section_advice
	position relative
	@media media-pad
		height 746px
		position relative
		padding-top 90px
		margin-top -1px
	@media media-large
		width 100%
		overflow hidden

.headline_advice
	width 50px
	margin 8px auto 28px
	@media media-pad
		position relative
		z-index 10
		margin-top 0

.title_advice
	color $pink
	text-align center
	margin-bottom 25px
	@media media-pad
		position relative
		z-index 10
		color #fff

.advice
	position relative
	@media media-pad
		position absolute
		height 100%
		width 100%
		top 0
		left 0
		font-size 0
	@media media-large
		white-space nowrap

	&-item
		width 100%
		height 480px
		position relative
		background-repeat no-repeat
		background-position center bottom
		background-size cover
		&:nth-child(1)
			background-image url(../assets/img/profi/miller.png)
		&:nth-child(2)
			background-image url(../assets/img/profi/kalipso.png)
		&:nth-child(3)
			background-image url(../assets/img/profi/poklonskaya.png)
		@media media-pad
			width unit(100 / 3, '%')
			display inline-block
			vertical-align top
			height 100%
		@media media-large
			white-space normal
			width 34%
			margin-right -1px

		&-content
			position absolute
			text-align center
			bottom 35px
			width 180px
			left 50%
			transform translateX(-50%)
			@media media-pad
				width 100%


		&__profile
			color $pink
			font-size 14px
			margin-bottom 11px
			font-family 'PTSans Regular'
			text-transform uppercase
			cursor pointer

		&__title
			color #fff
			font-family 'Bebas Bold'
			font-size 24px
			text-transform uppercase
			white-space nowrap
			margin-bottom 30px
			@media media-pad
				font-size 30px
				white-space normal
				padding 0 20px
			@media media-large
				br
					display none

		&__desc
			display none
			@media media-pad
				display block
				font-size 14px
				font-family 'PTSans Regular'
				line-height 20px
				text-transform uppercase
				color #fff
				width 190px
				margin 0 auto 35px



