.gymnastic
	position relative
	padding-bottom 50px

	&__title
		font-family 'Bebas Bold'
		color #000
		font-size 30px
		line-height 28px
		text-align center
		margin-bottom 30px


	&__slider
		img
			width 100%
		&_vertical
			img
				width auto
				max-height 240px!important
				margin 0 auto
				@media media-pad
					max-height 550px!important
				@media media-desktop
					max-height none!important


	&__desc
		background-color $pink
		color #fff
		text-align center
		width 100%
		padding 30px 18px
		font-family 'PTSans Regular'
		font-size 14px
		line-height 20px
		@media media-pad
			width 80%
			margin -50px auto 0
			position relative
			z-index 20
			font-size 18px
			line-height 22px
		@media media-desktop
			max-width 1100px
			font-size 22px
			line-height 28px
			padding 35px 60px
