.profi
	padding 50px 0
	@media media-pad
		padding 70px 30px 50px
		font-size 0
		position relative
	@media media-large
		text-align center

	.btn-share
		@media media-pad
			border-color #000
			color #000
		.social-button
			@media media-pad
				color #000!important

	.btn-row
		@media media-pad
			position absolute
			bottom 60px
			left 25%
			transform translateX(-50%)
		@media media-large
			bottom 20px
			left 50%

	&-desc
		padding 0 25px 25px
		@media media-pad
			display inline-block
			vertical-align top
			width 50%
		@media media-large
			max-width 550px
			min-height 390px
			position relative

		&__text
			margin-bottom 30px


	&-photo
		@media media-pad
			display inline-block
			vertical-align top
			width 50%
		@media media-large
			max-width 550px

		&__image
			width 100%
			@media media-desktop
				max-width 460px
				min-height 358px
				overflow hidden
			img
				width 100%
				vertical-align top





.headline_profi
	width 49px
	margin 0 auto 25px
	@media media-pad
		margin-top 18px

.title_profi
	text-transform uppercase
	color $pink
	margin-bottom 25px
	text-align center

.title__profile
	text-transform uppercase
	color $pink
	font-family 'PTSans Regular'
	font-size 14px
	margin-top 10px
	line-height 1
