.section_start
	background url(../assets/img/section/1.png) no-repeat center top
	background-size 100% 180px
	padding-bottom 30px
	width 100%
	overflow hidden
	@media media-pad
		position relative
		background none
		min-height 746px

	.btn-row
		margin-bottom 60px
		@media media-pad
			margin-bottom 98px

.video-bg
	position absolute
	left 0
	top 0
	z-index -1
	width auto
	min-width 100%
	height 746px
	video
		min-width 100%
		min-height 100%
	&:after
		content ''
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background-color rgba($blue, .3)



.headline_start
	width 130px
	margin 35px auto
	@media media-pad
		width 230px
		margin 90px auto 0

.article_start
	padding 30px 0
	text-align center
	font-size 14px
	line-height 20px
	color #000
	font-family 'PTSans Regular'
	@media media-pad
		color #fff
		max-width 470px
		margin 0 auto
	@media media-large
		font-size 18px
		line-height 26px
		max-width 680px


