.section_test
	background url(../assets/img/section/2.png) no-repeat center top
	background-size auto 258px
	padding-bottom 50px
	@media media-pad
		height 746px
		background-image url(../assets/img/section/2_pad.png)
		background-size 100%
		margin-top -1px
	@media media-desktop
		background-size auto 100%
		background-image url(../assets/img/section/2.png)
	@media media-large
		background-size cover


.headline_test
	width 50px
	margin 60px auto 25px
	@media media-pad
		margin-top 120px

.title_test
	width 180px
	margin 0 auto 60px
	text-align center
	@media media-pad
		width 100%


.test
	padding-top 30px
	padding-bottom 25px
	@media media-pad
		padding-top 0

	// question
	&-question
		min-height 300px
		@media media-pad
			width 600px
			margin 0 auto
			min-height 315px
		@media media-desktop
			width 620px


		&__text
			font-size 22px
			line-height 28px
			color #000
			text-align center
			font-family 'PTSans Regular'
			margin-bottom 25px
			@media media-pad
				color #fff

		&-counter
			text-align center
			white-space nowrap

			&-title
				display inline-block
				vertical-align top
				margin-right 13px
				font-family 'PTSans Bold'
				color #000
				@media media-pad
					color #fff

			&__current
				color $pink

			&-list
				display inline-block
				vertical-align top
				white-space nowrap

			&__item
				display inline-block
				vertical-align top
				width 15px
				height 15px
				margin-right 6px
				background-color #fff
				opacity .5
				&_active
					background-color $pink
				&:last-child
					margin-right 0

	&-options

		&-list
			margin-bottom 30px

		&-item
			color #fff
			background-color $pink
			border-bottom 4px solid $pinkDark
			padding 18px 24px
			margin-bottom 8px
			white-space nowrap
			cursor pointer
			user-select none
			&:last-child
				margin-bottom 0
			&:hover
				background-color $pinkLight
			@media media-pad
				margin-bottom 10px

			&__num
				display inline-block
				vertical-align middle
				text-transform uppercase
				font-family 'PTSans Bold'
				font-size 24px

			&__text
				display inline-block
				vertical-align middle
				font-family 'PTSans Regular'
				padding-left 25px
				white-space normal
				font-size 14px
				line-height 20px


	// RESULT
	&-result
		color #000
		text-align center
		@media media-pad
			color #fff
			width 460px
			margin 0 auto
		@media media-desktop
			width 650px


		&__title
			font-family 'PTSans Regular'
			font-size 22px
			line-height 28px
			text-align center
			margin-bottom 25px

		&__text
			font-size 14px
			line-height 20px
			text-align center
			@media media-pad
				color #fff
			@media media-large
				font-size 18px
				line-height 22px