.btn
	width 290px
	height 78px
	line-height 78px
	background-color $pink
	border-bottom 4px solid $pinkDark
	color #fff
	text-transform uppercase
	text-align center
	font-size 24px
	font-family 'PTSans Bold'
	border-radius 0
	padding 0
	position relative
	left 50%
	transform translateX(-50%)
	cursor pointer
	&:hover
		color #fff
		background-color $pinkLight



	&-share
		width 166px
		height 47px
		line-height 45px 
		border 2px solid #000
		color #000
		text-transform uppercase
		text-align center
		font-size 14px
		font-family 'PTSans Regular'
		cursor pointer
		position relative
		left 50%
		transform translateX(-50%)
		cursor pointer
		.social-wrapper
			margin 0
			.social .social-button
				background-color transparent
				font-size 14px
				border none
				padding 0
				.social-caption
					background none
					padding 0
				.social-count
					display none
			.social-shares
				margin-top -4px
				vertical-align middle
		@media media-pad
			border-color #fff
			color #fff
			.social-wrapper
				.social .social-button
					color #fff

		&_white
			border-color #fff
			color #fff


	&-advice
		display block
		width 166px
		height 50px
		line-height 48px
		text-align center
		text-transform uppercase
		color #fff
		font-family 'PTSans Regular'
		position relative
		left 50%
		font-size 14px
		transform translateX(-50%)
		border 2px solid $pink
		position relative
		&:after
			content attr(data-hover)
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			background-color $pink
			text-align center
			opacity 0
			color #fff
		&:hover
			border-bottom-color $pinkDark
			&:after
				opacity 1
