.logo
	margin 0 auto

	&-libresse
		width 86px
		height 56px
		@media media-pad
			width 128px
			height 84px

	&-cosmo
		width 94px
		height 17px
		@media media-pad
			width 122px
			height 22px

	a
		width 100%
		display block
		text-decoration none
		img
			vertical-align top
			width 100%