.slider
	background #000
	.carousel-control
		background-color transparent
		background-repeat no-repeat
		background-position center center
		background-size 35px 65px
		width 60px
		&.right
			background-image url(../assets/img/icon/arrow/next.png)
		&.left
			background-image url(../assets/img/icon/arrow/prev.png)