.g-footer
	background-color $blue
	padding 60px 0

.footer

	&-col

		&-btn
			padding-bottom 30px

		&-logo
			width 122px
			padding-bottom 37px
			margin 0 auto
			@media media-pad
				padding 0
			img
				width 100%
				vertical-align top

		&-desc
			color #fff
			font-size 14px
			font-family 'PTSans Regular'
			line-height 18px
			padding-bottom 30px
			text-align center
			@media media-pad
				padding 0
			a
				color #fff
				text-decoration underline
				&:hover
					text-decoration none

		&-map
			color #fff
			font-size 14px
			font-family 'PTSans Regular'
			padding-left 20px
			text-align center
			@media media-pad
				padding 0

	&-map
		padding-left 30px
		display inline-block
		height 25px
		line-height 25px
		margin-left -30px
		text-decoration underline
		background url(../assets/img/icon/map.png) no-repeat left center
		a
			text-decoration none
			color #fff
		@media media-pad
			width  80px
			text-align left
			line-height 1.2
		&:hover
			text-decoration none

