.g-nav.navbar
	background-color #fff
	height 60px
	width 100%
	border none
	position relative
	box-shadow none
	z-index 60
	margin 0
	box-shadow 1.5px 2.6px 10px rgba(0, 0, 0, 0.12)

	.navbar-toggle
		margin 0
		background-color $pink
		width 92px
		height 60px
		border-radius 0
		border none
		display block!important
		&:hover
			background-color $pink
		@media media-pad
			margin-left -20px
			width 72px

		.icon-bar
			background-color #fff
			height 5px
			width 35px
			border-radius 3px
			margin 0 auto 4px

	.navbar-collapse
		background-color $pink
		padding 150px 15px
		border-color $pink
		box-shadow inset 1.5px 2.6px 10px rgba(0, 0, 0, 0.12);
		z-index 50
		@media media-pad
			width 100%
			display none!important
			position absolute
			top 60px
			left 0

		&.in
			@media media-pad
				display block!important



		li
			margin-bottom 25px
			padding 0 15px
			width 100%
			&:last-child
				margin-bottom 0
			&.active
				opacity .5
				a
					background-color transparent
					color #fff

			a
				line-height 1
				padding 0
				font-family 'Bebas Bold'
				color #fff
				text-transform uppercase
				font-size 36px
				text-transform uppercase
				&:hover
					color #fff
					opacity .5

	.logo-libresse
	.logo-cosmo
		position absolute
		top 50%
		transform translateY(-50%)

	.logo-libresse
		left unit(110 / 320 * 100, '%')
		@media media-pad
			left 50%
			top 5px
			transform translateX(-50%)
			z-index 65

	.logo-cosmo
		right unit(18 / 320 * 100, '%')
		@media media-pad
			right 30px
