.side-navbar.navbar
	background-color transparent
	box-shadow none
	height auto
	min-height auto
	position fixed
	right 20px
	top 50%
	transform translateY(-50%)
	z-index 30
	.navbar-nav
		float none
	li
		float none
		margin-bottom 5px
		display block
		&:last-child
			margin-bottom 0
		&.active
			a
				background-color $pink
				opacity 1
		a
			width 15px
			height 15px
			display block
			background-color #fff
			opacity .5