section#about-section.section.section_about
	.container
		.row
			.col-xs-12

				.section-content.section-content_about

					.headline.headline_about
						img(src="./assets/img/tagline.png")

					.about
						.about__image
							img(src="./assets/img/libresse.png")
						article.article.about__text
							p.
								Поддержание себя в форме — задача не из простых, требующая много усилий, терпения, времени и силы воли. Однако перед трудностями пасовать нельзя, нужно каждый день принимать вызовы, доказывать себе и миру, что ты можешь все, способна достичь любой цели, какой бы сложной и на первый взгляд недосягаемой она ни была. Главное — не отчаиваться, не опускать руки, а быть уверенной в себе, набраться смелости и идти вперед.
							p.
								Чтобы достичь желаемого результата, нужно заниматься каждый день, не реже. Каждый день, тренировка за тренировкой, подавляя желание сойти с дистанции, двигаться вперед к своей цели. И никаких исключений на критические дни! В такие дни тоже можно заниматься и вести активный образ жизни благодаря новинке от Libresse с тройной защитой от протеканий.



						article.article.article_block.article_about.
							Новые прокладки Libresse с тройной защитой от протеканий обладают раздвоенной формой впитывающего слоя, которая плотно прилегает к телу сзади, тем самым надежно защищая от протеканий. А быстро впитывающий центр и барьерчики по бокам обеспечивают дополнительную защиту. С прокладками Libresse ты можешь оставаться на высоте и быть активной в любой день, как бы энергично ты ни двигалась!
