section#advice-section.section.section_advice

	hgroup.advice-header
		.headline.headline_advice
			img(src="./assets/img/headline.png")
		h2.title.title_advice Советы профи

	.advice

		.advice-item
			.advice-item-content
				.advice-item-header
					.advice-item__profile @kto_takaya
					.advice-item__title Елизавета #[br.hidden-xs] Миллер
				.advice-item__desc.
					Сертифицированный тренер fpa, блогер
				.advice-item__btn-row
					a.btn-advice(data-hover="Жми смелее" href="#") Читай 23 ноября

		.advice-item
			.advice-item-content
				.advice-item-header
					.advice-item__profile @calipsodellmar
					.advice-item__title Аня #[br.hidden-xs] Калипсо
				.advice-item__desc.
					М. с. по пауэрлифтингу в категории «Бодифитнес»
				.advice-item__btn-row
					a.btn-advice(data-hover="Жми смелее" href="#") Читай 23 ноября

		.advice-item
			.advice-item-content
				.advice-item-header
					.advice-item__profile @valeria.poklonskaya
					.advice-item__title Валерия #[br.hidden-xs] Поклонская
				.advice-item__desc.
					Чемпионка по pole dance, ведущий тренер, блогер
				.advice-item__btn-row
					a.btn-advice(data-hover="Жми смелее" href="#") Читай 23 ноября



