section.section.section_gymnastic

	.gymnastic
		.gymnastic__title Упражение 1
		.gymnastic__slider.gymnastic__slider_vertical.slider
			#gymnastic-1.carousel.slide(data-ride="carousel")
				.carousel-inner(role="listbox")
					.item.active
						img(src="./assets/img/profi/miller/1/1.png")
					.item
						img(src="./assets/img/profi/miller/1/2.png")
					.item
						img(src="./assets/img/profi/miller/1/3.png")
					.item
						img(src="./assets/img/profi/miller/1/4.png")
					.item
						img(src="./assets/img/profi/miller/1/5.png")
					.item
						img(src="./assets/img/profi/miller/1/6.png")
					.item
						img(src="./assets/img/profi/miller/1/7.png")
				a.left.carousel-control(href="#gymnastic-1", role="button", data-slide="prev")
				a.right.carousel-control(href="#gymnastic-1", role="button", data-slide="next")

		.gymnastic__desc Это упражнение называют «румынская тяга». Исходное положение: корпус держим вертикально, ноги выпрямлены или немного согнуты в коленях, стопы либо параллельны друг другу, либо носки немного разведены в стороны. Гантели в руках опущены вдоль корпуса, плечи развернуты, взгляд направлен вперед. Техника: немного сгибая ноги в коленях, наклони корпус вперед. Наклоняйся до уровня, который позволит сохранить естественный изгиб поясничного отдела позвоночника. Во время движения голова приподнята, взгляд направлен вперед. Плечи сохраняем отведенными назад. Возвращаемся в исходное положение. Выполни 4 подхода по 12-16 повторений.

	.gymnastic
		.gymnastic__title Упражение 2
		.gymnastic__slider.slider
			#gymnastic-2.carousel.slide(data-ride="carousel")
				.carousel-inner(role="listbox")
					.item.active
						img(src="./assets/img/profi/miller/2/1.png")
					.item
						img(src="./assets/img/profi/miller/2/2.png")
					.item
						img(src="./assets/img/profi/miller/2/3.png")
					.item
						img(src="./assets/img/profi/miller/2/4.png")
					.item
						img(src="./assets/img/profi/miller/2/5.png")
					.item
						img(src="./assets/img/profi/miller/2/6.png")
				a.left.carousel-control(href="#gymnastic-2", role="button", data-slide="prev")
				a.right.carousel-control(href="#gymnastic-2", role="button", data-slide="next")

		.gymnastic__desc Исходное положение: лежа на спине, стопы на полу, ноги согнуты и расставлены почти на ширине плеч. Техника: отрываем таз от пола, сжимаем ягодицы и поднимаем таз вверх. Старайся как можно выше оторвать корпус от пола. Опускаем таз, но не касаемся пола. Во время всего упражнения, особенно когда опускаем таз, ягодицы не расслабляем. Выполняем 4 подхода по 14-20 повторений.

	.gymnastic
		.gymnastic__title Упражение 3
		.gymnastic__slider.slider
			#gymnastic-3.carousel.slide(data-ride="carousel")
				.carousel-inner(role="listbox")
					.item.active
						img(src="./assets/img/profi/miller/3/1.png")
					.item
						img(src="./assets/img/profi/miller/3/2.png")
					.item
						img(src="./assets/img/profi/miller/3/3.png")
					.item
						img(src="./assets/img/profi/miller/3/4.png")
					.item
						img(src="./assets/img/profi/miller/3/5.png")
					.item
						img(src="./assets/img/profi/miller/3/6.png")
					.item
						img(src="./assets/img/profi/miller/3/7.png")
					.item
						img(src="./assets/img/profi/miller/3/8.png")
				a.left.carousel-control(href="#gymnastic-3", role="button", data-slide="prev")
				a.right.carousel-control(href="#gymnastic-3", role="button", data-slide="next")

		.gymnastic__desc Исходное положение: встать на четвереньки, ноги на ширине таза, а бедра перпендикулярны полу. Мышцы пресса напряжены. В пояснице сохраняем естественный прогиб. Техника: пятка смотрит вверх, носок немного тянем на себя, выполняем мах прямой ногой кверху. Следи за прогибом. Возвращаемся в исходное положение. Выполняем 4 подхода по 14-20 повторений. 

