section.section.section_profi

	.section-content.section-content_profi

		.profi

			.profi-desc
				.headline.headline_profi
					img(src="./assets/img/headline.png")
				.title.title_profi Елизавета Миллер
					.title__profile @kto_takaya
				article.article.profi-desc__text.
					Начни с трех тренировок в неделю, не больше. Поверь: если исключишь мучное, жирное, жареное, да еще и тренироваться начнешь регулярно, этого будет достаточно для видимых перемен. Упражнения можно выполнять как в зале,  так и дома. Главное в этом деле — правильная техника.
				.btn-row
					.btn-share Поделиться


			.profi-photo
				.profi-photo__image
					img(src="./assets/img/profi/miller.png")
