section#start-section.section.section_start
	.video-bg.hidden-xs
		video(playsinline autoplay muted loop)
			source(src="./assets/video.mp4" type="video/mp4")
	.container
		.row
			.col-xs-12

				.section-content.section-content_start

					.headline.headline_start
						img(src="./assets/img/headline.png")

					article.article.article_start.
						Хотела похудеть к лету, но все как-то не складывалось, и теперь ты выжидаешь весну, чтобы дать себе еще один шанс? Не время расслабляться, ведь быть в форме — всегда актуально. Но, прежде чем начать тренировки, 
						пройди короткий тест и узнай, какая программа подойдет именно тебе.

					.btn-row
						.btn.btn_start Пройти тест

					.btn-share Поделиться
