section#test-section.section.section_test
	.container
		.row
			.col-xs-12

				.section-content.section-content_test

					.headline.headline_test
						img(src="./assets/img/headline.png")

					h2.title.title_test Сбросить или&nbsp;набрать?

					.test
						// TEST QUESTION
						.test-question
							.test-question__text Вычти из своего роста свой вес. Какое число получилось?
							.test-options-list
								.test-options-item
									.test-options-item__num 1
									.test-options-item__text Мое питание — вечные перекусы на бегу. Но не могу сказать, что это плохо сказывается на моей фигуре. (гибкость)
								.test-options-item
									.test-options-item__num 2
									.test-options-item__text 100-110
								.test-options-item
									.test-options-item__num 3
									.test-options-item__text Менее 100
							.test-question-counter
								.test-question-counter-title
									span.test-question-counter__current 1 
									span из 
									span.test-question-counter__total 7
								.test-question-counter-list
									.test-question-counter__item.test-question-counter__item_active
									.test-question-counter__item
									.test-question-counter__item
									.test-question-counter__item
									.test-question-counter__item
									.test-question-counter__item
									.test-question-counter__item

						// TEST RESULT
						.test-result.hidden
							h3.test-result__title Смелый шаг стать более гибкой!
							artilce.article.test-result__text.
								Вероятнее всего, твой ритм жизни не позволяет тебе ни поесть по-человечески, ни тем более заниматься спортом. Ты мало спишь, постоянно перекусываешь на бегу, часто нервничаешь — такой образ жизни до добра не доведет. Тебе следует выкроить хоть немного времени на занятия спортом, и особенно удели внимание стретчингу. Во-первых, он поможет скорректировать осанку, во-вторых, расслабит и восстановит мышцы после нагрузок и, в-третьих, снимет стресс после тяжелого дня. Кроме того, ты будешь всегда подтянута, стройна и грациозна!

					.btn-share Поделиться